<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{::links})">
<title>Plot Passenger Statistic</title>
<th:block th:fragment="links">
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
</th:block>
</head>


<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">
		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module('myApp', [ 'chart.js' ]);
			app.controller('plotPassengerStatistic',
					function($scope, $http) {


						$scope.NotVirologist = false;

						$scope.Nolist = false;
						$http.get("/iTrust2/api/v1/passenger").then(
								function(response) {
									$scope.plist = response.data;

								}, function(rejection) {
									$scope.Nolist = true;
									$scope.plist = [];

								});

						$http.get("/iTrust2/api/v1/getnumOfSeverityCode").then(
								function(response) {
									$scope.slist = response.data;
								});
						
						$http.get("/iTrust2/api/v1/getnumOfSeverityCodedata").then(
								function(response) {
									$scope.sdata = response.data;
								});

						$http.get("/iTrust2/api/v1/getnumOfInfectperDay").then(
								function(response) {
									$scope.ilist = response.data;
								});
						$http.get("/iTrust2/api/v1/getnumOfInfectperDayData").then(
								function(response) {
									$scope.datalist = response.data;
								});
						$http.get("/iTrust2/api/v1/getnumOfInfectperDayDate").then(
								function(response) {
									$scope.datelist = response.data;
								});
						
						$scope.Pass = true;
						$scope.labels = [ "January", "February", "March",
								"April", "May", "June", "July" ];
						$scope.series = [ 'Series A', 'Series B' ];
						$scope.onClick = function(points, evt) {
							console.log(points, evt);
						};
						$scope.datasetOverride = [ {
							yAxisID : 'y-axis-1'
						}, {
							yAxisID : 'y-axis-2'
						} ];
						$scope.options = {
							scales : {
								yAxes : [ {
									id : 'y-axis-1',
									type : 'linear',
									display : true,
									position : 'left'
								}, {
									id : 'y-axis-2',
									type : 'linear',
									display : true,
									position : 'right'
								} ]
							}
						};

						$scope.dlabels = [ "Mild", "Severe", "Critical",
								"Not infected" ];
					})
			/*]]>*/
		</script>

		<div ng-app="myApp" ng-controller="plotPassengerStatistic" class="row">

			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Plot Passenger Statistic</h3>
					</div>
					<div class="panel-body">
						<div style="margin-left: 10px;">

							<div ng-if="NotVirologist">Invalid Specialty</div>
							<div ng-if="Nolist">Passenger list not found.</div>

						</div>

						<table class="table table-bordered" ng-show="Pass">
							<thead>
								<tr>
									<th>Day</th>
									<th>Number of infected patients</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in datelist" >
									<td id="Day">{{d}}</td>
									<td id="Numtotal">{{datalist[$index]}}</td>
								</tr>
							</tbody>
						</table>


					</div>
				</div>
			</div>

			<div class="col-lg-6 col-sm-12" id="line-chart" ng-show="Pass">
				<div class="panel panel-default">
					<div class="panel-heading">Line Chart</div>
					<div class="panel-body">
						<canvas id="line" class="chart chart-line" chart-data="datalist"
							chart-labels="datelist" chart-click="onClick" chart-hover="onHover"
							chart-series="series" chart-options="options"
							chart-dataset-override="datasetOverride"></canvas>
					</div>
				</div>
			</div>


			<div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-show="Pass">
				<div class="panel panel-default">
					<div class="panel-heading">Doughnut Chart</div>
					<div class="panel-body">
						<canvas id="doughnut" class="chart chart-doughnut chart-xs"
							chart-data="sdata" chart-labels="dlabels"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>